h1{
    text-align: center;
    font-size: 60px;
    position: relative;
    bottom: 30px;
}
.caption{
    font-size: 30px;
}
#digit, #digitinfo{
    display: inline;
    font-size: 20px;
}
#charge{
    display: block;
    width: 95%;
    margin-left: 2.5%;
    height: 30px;
    margin-top: 15px;

    background-color: rgb(197, 197, 197);
    border: 1px solid rgb(151, 151, 151);

    text-align: center;
    font-size: 250%;
}
#green{
    width: 0%;
    height: 100%;

    background-color: rgb(27, 160, 0);
    
}
#outputlist{
    display: block;
    overflow: scroll;
    width: 30%;
    margin-left: 2.5%;
    height: 500px;
    margin-top: 15px;
    padding: 10px;

    background-color: rgb(109, 109, 109);
    border: 0.5px solid rgb(54, 54, 54);
}